server:
  port: 8761
eureka:
  instance:
    hostname: host.docker.internal
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/