<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="applicationProperties"
          class="com.javarush.led.lesson01.config.ApplicationProperties"/>

    <bean class="com.javarush.led.lesson01.config.SessionCreator" id="sessionCreator">
        <constructor-arg type="com.javarush.led.lesson01.config.ApplicationProperties" ref="applicationProperties"/>
    </bean>

    <bean class="com.javarush.led.lesson01.repository.UserRepository" id="userRepository">
        <constructor-arg type="com.javarush.led.lesson01.config.SessionCreator" ref="sessionCreator"/>
    </bean>

    <bean id="userService" class="com.javarush.led.lesson01.service.UserService">
        <constructor-arg type="com.javarush.led.lesson01.repository.UserRepository" ref="userRepository"/>
    </bean>
</beans>